<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LoveJourneyAPILayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <LoveJourneyAPILayer.Properties.Settings>
      <setting name="LoveJourneyAPILayer_KesineniNamespace_common" serializeAs="String">
        <value>http://kesinenitravels.com/kttapi/common.asmx</value>
      </setting>
    </LoveJourneyAPILayer.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TGSWSSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.ticketgoose.com/bookbustickets/services/TGSWS?wsdl"
          binding="basicHttpBinding" bindingConfiguration="TGSWSSoapBinding"
          contract="TicketGooseNamespace.TGTravelService" name="TGSWS" />
    </client>
  </system.serviceModel>
  
</configuration>
