<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DOMFlightAvailabilityHttpBinding" closeTimeout="12:00:00"
          openTimeout="12:00:00" receiveTimeout="12:00:00" sendTimeout="12:00:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DOMFlightPricingHttpBinding" closeTimeout="12:00:00"
          openTimeout="12:00:00" receiveTimeout="12:00:00" sendTimeout="12:00:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DOMFlightBookingHttpBinding" closeTimeout="12:00:00"
          openTimeout="12:00:00" receiveTimeout="12:00:00" sendTimeout="12:00:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DOMFlightBookingStatusHttpBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DOMFlightCancellationStatusHttpBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DOMFlightCancellationHttpBinding" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://live.arzoo.com/FlightWS1.2/services/DOMFlightPricing"
        binding="basicHttpBinding" bindingConfiguration="DOMFlightPricingHttpBinding"
        contract="SrvDomesticFlightPricing.DOMFlightPricingPortType"
        name="DOMFlightPricingHttpPort" />
      <endpoint address="http://live.arzoo.com/FlightWS1.2/services/DOMFlightBooking"
        binding="basicHttpBinding" bindingConfiguration="DOMFlightBookingHttpBinding"
        contract="SrvDomesticFlightBookingRequest.DOMFlightBookingPortType"
        name="DOMFlightBookingHttpPort" />
      <endpoint address="http://live.arzoo.com/FlightWS1.2/services/DOMFlightBookingStatus"
        binding="basicHttpBinding" bindingConfiguration="DOMFlightBookingStatusHttpBinding"
        contract="SrvDomesticFlightBookingStatus.DOMFlightBookingStatusPortType"
        name="DOMFlightBookingStatusHttpPort" />
      <endpoint address="http://live.arzoo.com/FlightWS1.2/services/DOMFlightCancellationStatus"
        binding="basicHttpBinding" bindingConfiguration="DOMFlightCancellationStatusHttpBinding"
        contract="SrvDomesticFlightCancellationStatus.DOMFlightCancellationStatusPortType"
        name="DOMFlightCancellationStatusHttpPort" />
      <endpoint address="http://live.arzoo.com/FlightWS1.2/services/DOMFlightCancellation"
        binding="basicHttpBinding" bindingConfiguration="DOMFlightCancellationHttpBinding"
        contract="SrvDomesticFlightCancellation.DOMFlightCancellationPortType"
        name="DOMFlightCancellationHttpPort" />
      <endpoint address="http://live.arzoo.com/FlightWS1.2/services/DOMFlightAvailability"
        binding="basicHttpBinding" bindingConfiguration="DOMFlightAvailabilityHttpBinding"
        contract="SrvDomesticFlightAvailability.DOMFlightAvailabilityPortType"
        name="DOMFlightAvailabilityHttpPort" />
    </client>
  </system.serviceModel>
</configuration>